{
	# optional: where Caddy sends expiry notices
	email coti.macapa@ifap.edu.br
}

hango.ifap.edu.br {
	encode zstd gzip

	# serve static/media from the volumes you mounted at /srv/{static,media}
	handle /static/* {
		root * /srv
		file_server
	}
	handle /media/* {
		root * /srv
		file_server
	}

	# everything else to Django on 8000
	reverse_proxy web:8000
}
