{% extends "base.html" %}
{% load form_extras %}
{% load i18n %}
{% block title %}Sign in - Hango{% endblock %}
{% block content %}
<div class="columns is-centered">
  <div class="column is-5">
    <div class="box">
      <h1 class="title is-4">Sign in</h1>
      {% if form.errors %}
        <div class="notification is-danger">Please check your username and password.</div>
      {% endif %}

      <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <div class="field">
          <label class="label" for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
          <div class="control">
            {{ form.username }}
          </div>
          {{ form.username.errors }}
        </div>

        <div class="field">
          <label class="label" for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
          <div class="control">
            {{ form.password }}
          </div>
          {{ form.password.errors }}
        </div>

        <button class="button is-primary" type="submit">{% trans "Sign in" %}</button>
      </form>


      {# Optional links if you enable password reset later:
      <p class="mt-3"><a href="{% url 'password_reset' %}">Forgot password?</a></p>
      #}
    </div>
  </div>
</div>
{% endblock %}
