{% extends "admin/change_form.html" %}
{% load static %}

{% block object-tools-items %}
  {# keep the default tools #}
  {{ block.super }}

  {# show banner if there is a successor #}
  {% if has_next_year %}
    <li>
      <a
        class="button is-light"
        href=""
        aria-disabled="true"
        disabled
        tabindex="-1"
        role="button"
        style="pointer-events:none; cursor:default"
      >
        Esta turma já possui uma sucessora.
      </a>
    </li>
  {% endif %}

  {% if can_migrate_members %}
    <li>
      <a class="button" href="">Migrar alunos (ano anterior)</a>
    </li>
  {% endif %}

  {# show the “create next” button only if there is NO successor #}
  {% if not has_next_year and original.pk %}
    <li>
      <a class="button" href="{% url 'admin:classes_studentclass_create_next_year' original.pk %}">
        Criar sequência (próximo ano)
      </a>
    </li>
  {% endif %}
  
{% endblock %}
