{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Menu" %} - Hango{% endblock %}
{% block content %}
<h1 class="title">{% trans "Today's Menu" %}</h1>
<p class="subtitle">{% trans "Meals are free for students." %}</p>
<div class="columns is-multiline">
  {% for i in items %}
  <div class="column is-4">
    <div class="card">
      <div class="card-content">
        <div class="mb-2">
          <span class="tag is-success is-light">{% trans "FREE" %}</span>
          {% if i.category %}
            {% if i.category.daily_quota %}
              <span class="tag is-info is-light">{{ i.category.name }} • {{ i.category.daily_quota }}/day</span>
            {% else %}
              <span class="tag is-light">{{ i.category.name }}</span>
            {% endif %}
          {% endif %}
        </div>
        <p class="title is-5">{{ i.name }}</p>
        {% if i.description %}<p>{{ i.description }}</p>{% endif %}
        <div class="mt-3">
          <a class="button is-link" href="{% url 'menu:add_to_cart' i.id %}">{% trans "Add to cart" %}</a>
          <a class="button" href="{% url 'orders:add' i.id %}">{% trans "Add & view cart" %}</a>
        </div>
      </div>
    </div>
  </div>
  {% empty %}
  <p>{% trans "No items yet." %}</p>
  {% endfor %}
</div>
{% endblock %}
